{% extends "layout.html" %}

{% block content %}

{% if logged_in %}
<div class="row">
    <div class="col-md-12" id="index_buttons">
        <a href="/logout" class="btn btn-primary" id="login_button">Logout</a>
    </div>
</div>
{% endif %}
<div class="row" id="products_page">
    <div class="col-md-12">
        <h3>Your Order</h3>
        <hr>
        {% for item in order %}
            {% if item.count|int != 0 %}
            <h4>Product name: {{ item.item_name }}:</h4>
            <p>Quantity: {{ item.count|int}}</p>
            <p>Unit price: {{ item.price }}</p>
            <p>Total cost: {{ '%0.2f' % (item.price * item.count)|float }}</p>
            <hr>
            {% endif %}
        {% endfor %}
        <br/>
        <br/>
        <div class="row">
            <h1>Total checkout amount: {{ '%0.2f' % total_cost|float }} </h1>
        </div>
    </div>
</div>
{% endblock %}