{% extends "layout.html" %}

{% block content %}

{% if logged_in %}
<div class="row">
    <div class="col-md-12" id="index_buttons">
        <a href="/logout" class="btn btn-primary" id="login_button">Logout</a>
    </div>
</div>
{% endif %}
<div class="row" id="products_page">
    <div class="col-md-12">
        <h3>Products</h3>
        <hr>
        <div class="row">
            <form action="/checkout" method="post">
                <div class="form-group">
                    <div class="product_div container-fluid">
                        {% for product in products %}
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="product_card" id="product_card">
                                <div class="img_div">
                                    <img src="{{ product.image_url }}" class="product_card-img" alt="...">
                                </div>
                                <div class="product_card-body">
                                    <h5 class="product_card-title">{{ product.item_name }}</h5>
                                    <p class="product_card-text">{{ product.info }}</p>
                                    <p class="product_card-price">${{ product.price }}</p>
                                    <select class="container quantity" id={{product.id}} name={{product.id}}>
                                        <option value="0">0</option> 
                                        {% for i in range(0, product.stock) %}
                                        <option value="{{i + 1}}">{{ i + 1 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="index_buttons">
                        <button type="submit" class="btn btn-primary" id="checkout_button">Order</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}