{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12" id="index_buttons">
        <a href="/login" class="btn btn-primary" id="login_button">Login</a>
        <a href="/register" class="btn btn-primary" id="register_button">Register</a>
    </div>
</div>
<h2>
    Welcome to Javan's Essential Products! Home of the lowest prices and fastest delivery.
</h2>
<p>
    Free shipping on all orders of $100 or more, or for Essential Product Members!
</p>
    {% endblock %}