{% extends "layout.html" %}

{% block content %}
<div class="row" id="info_row">
    <div class="col-md-12" id="login_class">
        <h3 class="logout_header">Thank you for shopping with us!</h3>
        <div class="row">
            <div class="col-md-12" id="index_buttons">
                <a href="/login" class="btn btn-primary" id="login_button">Login</a>
                <a href="/register" class="btn btn-primary" id="register_button">Register</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}